.location-info-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 60px;
  width: 400px;
  min-height: 180px;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;

  /* animation */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.location-info-modal.show {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: visible;
}

.location-info-modal ul {
  list-style: none;
  padding: 0;
}

.location-info-modal li {
  padding: 5px 0;
}

.close-modal-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  /* background: red; */
  font-size: 25px;
  color: white;
}

.close-modal-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .location-info-modal {
    font-size: 16px;
    width: 200px;
    min-height: 100px;
    top: 70px;
    right: 20px;
    padding: 15px;
  }

  .location-info-modal h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {
  .location-info-modal {
    padding: 10px;
    font-size: 14px;
    width: 30%;
    min-height: 50px;
    top: 70px;
    right: 10px;
    overflow: hidden;
  }

  .location-info-modal h2 {
    font-size: 16px;
  }

  .close-modal-button {
    position: absolute;
    top: 5px;
    right: 5px;
    /* background: red; */
    font-size: 18px;
    color: white;
  }
}
