.header {
  font-family: "Poppins", sans-serif;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: firebrick; */
  background-color: #e23c12;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-icon {
  font-size: 28px;
  padding: 0 5px;
  margin-bottom: 1px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.radio-container span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.radio-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-container label {
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: #f2dc5d; */
  background-color: rgba(255, 221, 163, 0.3);
  padding: 10px 15px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked + label {
  /* background-color: #ffdda1; */
  background-color: #ffff82;
  color: black;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 20px;
  }

  .radio-container span {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
}

@media screen and (max-width: 540px) {
  .radio-container {
    display: none;
  }

  .header h1 {
    font-size: 16px;
  }
}
