.side-bar {
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 7vh;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: rgba(255, 255, 255, 1);
  /* background-color: #548687; */
  position: fixed;
  z-index: 1;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
  top: 9vh;
  /* left: 0; */
  transform: translateY(-100%);
  transition: transform 0.4s ease-out;
}

.side-bar.open {
  /* z-index: 4; */
  transform: translateY(0vh);
  /* transform: translateZ(); */
}

.radio-container-side-bar {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.radio-container-side-bar span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.radio-container-side-bar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-container-side-bar label {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f2dc5d; */
  background-color: rgba(255, 221, 163, 0.7);
  /* background-color: #ffff82; */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.radio-container-side-bar label:focus {
  border: 1px solid black;
}

/* .radio-container-side-bar input[type="radio"]:checked + label {
  background-color: #ffdda1;
  background-color: #ffff82;
  color: black;
} */
