body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  font-family: "Poppins", sans-serif;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: firebrick; */
  background-color: #e23c12;
  /* background: rgb(230, 132, 20);
  background: linear-gradient(
    0deg,
    rgba(230, 132, 20, 1) 0%,
    rgba(250, 202, 21, 1) 100%
  ); */
  /* rgb(178, 34, 34) */
  color: white;
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-icon {
  font-size: 28px;
  padding: 0 5px;
  margin-bottom: 1px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.radio-container span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.radio-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-container label {
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: #f2dc5d; */
  background-color: rgba(255, 221, 163, 0.3);
  padding: 10px 15px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.radio-container input[type="radio"]:checked + label {
  /* background-color: #ffdda1; */
  background-color: #ffff82;
  color: black;
}

.menu-button {
  display: none;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 32px;
  width: 40px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2px;
  background: white;
}

.map {
  width: 100vw;
  height: 93vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-icon:hover {
  cursor: pointer;
}

.location-info-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 60px;
  width: 400px;
  min-height: 180px;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
}

.location-info-modal ul {
  list-style: none;
  padding: 0;
}

.location-info-modal li {
  padding: 5px 0;
}

.close-modal-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  /* background: red; */
  font-size: 25px;
  color: white;
}

.close-modal-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 20px;
  }

  .radio-container span {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .location-info-modal {
    font-size: 16px;
    width: 200px;
    min-height: 100px;
    top: 70px;
    right: 20px;
    padding: 15px;
  }

  .location-info-modal h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {
  .toggle-button {
    display: flex;
  }

  .radio-container {
    display: none;
  }

  .header h1 {
    font-size: 16px;
  }

  .location-info-modal {
    padding: 10px;
    font-size: 14px;
    width: 30%;
    min-height: 50px;
    top: 70px;
    right: 10px;
    overflow: hidden;
  }

  .location-info-modal h2 {
    font-size: 16px;
  }

  .close-modal-button {
    position: absolute;
    top: 5px;
    right: 5px;
    /* background: red; */
    font-size: 18px;
    color: white;
  }
}
